div This is a basic exercise in converting names into formulas for binary compounds. Since its effective use requires analysis of text input there are some basic rules:

div.top-margin Instructions
  ul.sub-instruction-section
    li This page does not contain any transition elements and, thus, stock notation is not used.
    li Spelling matters very much. No effort has been made to analyze input against possible spelling errors.
    li The proper atomic symbol and capitalizations must be used.
    li All compounds on this page can be viewed as simple binary compounds.

div Operation
  ul.sub-instruction-section
    li The user should refer to the periodic table for the proper atomic symbols
    li Pressing "New Compound" causes a small window to appear with a name, an empty cell and a "Check Answer" button.
    li Enter the formula of the compound in the cell using the following guidelines.
    ul
      li The formula must be a single word. NaCl is correct Na Cl is not.
      li Parentheses must be used appropriately.
      li The numeric characters must be properly entered when needed. The input will not show these as subscripts. Calcium iodide will be CaI2, for example. Calcium nitrate will be Ca(NO3)
      li Do not put spaces at the end of the formula.
      li Press "Check Answer."
      li Results and score appear in the table on the top page.

