div(class="text-center")
  table(class="avogadro-table")
    thead
      tr
        th n
          sub 1
        th V
          sub 1
        th
        th n
          sub 2
        th V
          sub 2
    tbody
      tr
        td(name="0")
        td(name="1")
        td(name="2")
        td(name="3")
        td(name="4")
