div(class="text-center")
  table(class="table")
    thead
      tr
        th pH
        th pOH
        th [H<sup>+</sup>]
        th [OH<sup>-</sup>]
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
