div This page will present questions based upon first order processes, either radioactive decays or chemical reactions. Use the "e" notation for presnting very large or small numbers. All masses are in grams, but the time dimension will vary.
