div This page is an exercise in comparing the equilibrium constant with the reaction quotient. Below you'll see a balanced equation, the K value and a set of non equilibrium concentrations. Use the information provided to determine the direction in which the reaction will be proceeding.

