div(class="text-center")
  table(class="small-table")
    thead
      tr
        th Moles
        th Volume (L)
        th Molarity
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
