div(class="text-center")
  table(class="full-table")
    thead
      tr
        th Formula
        th Mass of compound
        th Mass of C
        th Mass of H
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
