div(class="text-center")
  table(class="small-table")
    thead
      tr
        th GFW
        th Mass
        th Moles
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
