div(class="text-center")
  table(class="table")
    thead
      tr
        th(colspan="2") First sample
        th(colspan="2") Second sample
        th(class="fill") &nbsp;
      tr
        th Mass (g)
        th T<sub>i</sub>
        th Mass (g)
        th T<sub>i</sub>
        th T<sub>f</sub>
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
