div(class="text-center")
  table(class="small-table")
    thead
      tr
        th &deg;K
        th &deg;C
        th &deg;F
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
