div(class="text-center")
  table(class="small-table")
    thead
      tr
        th Mass (grams)
        th Volume (cc)
        th Density (g/cc)
    tbody
      tr
        td(name="fields")
          //span(text-order="0")
          //input.input-small(type="number" name="input" input-order="0" onkeyup="window.cp.onAnswerChange(this)")
        td(name="fields")
          //span(text-order="1")
          //input.input-small(type="number" name="input" input-order="1" onkeyup="window.cp.onAnswerChange(this)")
        td(name="fields")
          //span(text-order="2")
          //input.input-small(type="number" name="input" input-order="2" onkeyup="window.cp.onAnswerChange(this)")
