div(class="text-center")
  table(class="full-table")
    thead
      tr
        th Solute
        th Solute mass (g)
        th Volume (mL)
        th Osomotic P (atm)
        th Temp (in K)
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
