div.row
  div.col
    table.halfrxns
      thead
        tr
          th
          th
          th
          th
        tr
          th(colspan=4) E<sub>0</sub> table (scroll down for more...)
        tr
          th(colspan=3) Solute
          th Potential
  div.halfrxns-container
    table.halfrxns
      tbody#halfrxn-content
