div.row
  div.question
    div#question.col-md-12
      div#q
    div.input-answer
      label.input-label-inline Your answer:
      input.input-small(type="number" name="input" idx="0" onkeyup="window.cp.onAnswerChange(this)")
