div(class="text-center")
  table(class="small-table")
    thead
      tr
        th Atomic #
        th Moles
        th Mass
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
