div This page is to an exercise in using the rate equation. See below with information about the kinetics of a reaction and a question. All rates are in terms of M-sec<sup>-1</sup> and all concentrations are molarities. Remember that although the overall reaction rate is, by convention, positive, the rate of change in terms of an individual species can be positive or negative. Thus, on questions asking for a rate for a specified compound, the sign is important.

