div
  h6(class="text-left") The combined gas law deals with gas systems where the quantity of the gas is kept constant. It permits the treatment of "changes of state where five of the remaining six possible variables are given.
