.input-small {
  width: 100%;
  max-width: 100px;
  margin: 0 4px;
  text-align: center;
}
.input-label-inline {
  padding-right: 20px;
  font-style: italic;
}
.parameter {
  font-weight: bold;
  margin: 0 4px;
}
.stacked-table {
  /*width: 50%;*/
  display: inline-table;
  border: 1px solid #aaa;
  margin: 15px;
  border-collapse: collapse;
}
.stacked-table thead tr th,
.stacked-table tbody tr td {
  width: 200px;
}
.stacked-table tbody tr td {
  padding-bottom: 15px;
}
.stacked-table thead tr:first-child {
  background-color: #ddd;
}
