div This is a drill and practice exercise in recognizing direct and inverse relationships between variables. Below you'll see a small window containing an equation and a variable pair taken from the equation will appear. Determine whether the variables are directly or inversely related and click on the appropriate circle.

