h5 Panel 2
div
  label.input-label-inline Your answer:
  input.input-small(type="number" name="input" idx="0" onkeyup="window.cp.onAnswerChange(this)")
h6 Set to &quot;&quot; if this panel is not required

