h5 Panel 1
div &lt;input&gt; tags must have name=&quot;input&quot; and idx=&quot;idx&quot; attributes
div The answer for this question is <span id="a0" class="parameter"></span> with a +/-5% tolerance
