div(class="text-center")
  table(class="small-table")
    thead
      tr
        th Wavelength (cm)
        th Frequency (Hz)
        th Energy (J)
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
