div(class="text-center")
  table(class="panel-table")
    thead
      tr
        th Compound
        th Ksp
        th Molar Sol
        th Gram Sol
        th [cation]
        th [anion]
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
