div(class="text-center")
  table(class="panel-table")
    thead
      tr
        th Symbol
        th Protons
        th Mass #
        th Charge
        th Electrons
        th Neutrons
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
