div(class="text-center")
  table(class="avogadro-table")
    thead
      tr
        th T1
        th V1
        th T2
        th V2
    tbody
      tr
        td(name="0")
        td(name="1")
        td(name="2")
        td(name="3")
