div(class="text-center")
  table(class="table")
    thead
      tr
        th Mass (g)
        th q (Joules)
        th T<sub>i</sub>
        th T<sub>f</sub>
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
