div(class="text-center")
  table(class="small-table")
    thead
      tr
        th Compound
        th [initial]
        th pH
    tbody
      tr
        td(name="fields" id="f1")
        td(name="fields" id="f2")
        td(name="fields" id="f3")
