div(class="text-center")
  table(class="full-table")
    thead
      tr
        th Solute
        th Solute mass (g)
        th Water mass (g)
        th Freezing Pt (&deg;C)
        th Boiling Pt (&deg;C)
    tbody
      tr
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
        td(name="fields")
